<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Blog Article</title>
<link th:replace="article/fragments/headLinks">
</head>
<body>
  <div th:replace="article/fragments/navbar"></div>
  <div class="container-fluid">
   <p>Please use the form below to enter a new article:</p>
    <form class="form-group" th:action="@{/articles/new}"
      method="post">
      <div th:replace="article/fragments/formFields"></div>
      <button class="btn btn-success" type="submit">Say it!</button>
    </form>
  </div>
  <Script th:replace="article/fragments/scriptLinks"></Script>
</body>
</html>
  