<div th:fragment="formFields">
  <table class="table">
    <tr>
      <td>Title</td>
      <td><input class="form-control" type="text" autofocus
        th:placeholder="${article.title}" th:field="*{article.title}" /></td>
    </tr>
    <tr>
      <td>Author</td>
      <td><input class="form-control" type="text"
        th:placeholder="${article.author}" th:field="*{article.author}" /></td>
    </tr>
    <tr>
      <td>Entry</td>
      <td><textarea rows="10" class="form-control" style="height: 20em;"
        th:placeholder="${article.entry}" th:field="*{article.entry}"></textarea></td>
    </tr>
  </table>
</div>
